*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{position: fixed; left: 0; top: 0;width: 100%; background: #ffffff; box-shadow: 0 0 5pt; rgba(o,o,o,.5);}
nav div{display: flex; 
    width: 500pt;
    margin: 0 auto;
    position: relative;
    

}
nav div a{
    float: 1;
    display: block;
    height: 40pt;
    line-height: 40pt;
    text-align: center;
    color: black;
}
nav div a.on{ 
    color: bisque;
}
nav div > span{
    position: absolute;
    left: 0;
    bottom: 0;
    width:100pt;
    height: 3pt;
    background: blue;
    opacity: 0;
    transition: all .5s;
}
nav div a:nth-child(1).on ~ span {left:0; opacity:1;}
nav div a:nth-child(2).on ~ span {left:100pt; opacity:1;}
nav div a:nth-child(3).on ~ span {left:200pt; opacity:1;}
nav div a:nth-child(4).on ~ span {left:300pt; opacity:1;}
nav div a:nth-child(5).on ~ span {left:400pt; opacity:1;}