#button{
    border-radius: 30pt;
    background: linear-gradient(189deg,#ff6b6b 0%,#feac5e 100%);
    width: 334pt;
    height: 59pt;
    border:0;
    outline:0;
    box-shadow:  0pt 0pt 5pt #F98181AD;
    font-size: 18pt;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    color:white;
}

#popup.has-filter {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#popup .content {
    width: 269pt;
    height: 120pt;
    background: #fff;
    border-radius: 7pt;
    border: 1.5pt solid #FB6254;
    text-align: center;
}

.top{
    margin-top:21pt;
    margin-bottom: 5pt;
    font-size: 13pt;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.bottom{
    font-size: 11pt;
    margin-bottom: 16pt;
    font-family: 'Nanum Gothic', sans-serif;
}

#button_home{
    border:0;
    outline:0;
    width: 76pt;
    height: 26pt;
    border-radius: 10pt;
    background: #FF6B6B;
    opacity: 91;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color:white;
    
    
}

#button_my{
    border:0;
    outline:0;
    width: 76pt;
    height: 26pt;
    border-radius: 10pt;
    background: #FF6B6B;
    opacity: 91;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color:white;
    
    
}

